body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 189, 180);
    background-image: 
    repeating-linear-gradient(90deg, transparent, transparent 50px,
        rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px,
        rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px,
        rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px),
    repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px,
        rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px,
        rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px,
        rgba(255, 206, 0, 0.25) 166px),
    repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
        rgba(143, 77, 63, 0.25) 10px),
    repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px,
        rgba(143, 77, 63, 0.25) 10px);
}

.list {
    width: 60vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(243, 248, 238);
    border-radius: 2vw;

    &__title {
        color: rgb(255, 255, 255);
        font-family: 'Pushster', cursive;
        font-size: 3rem;
        margin: 1vh 0;
        text-align: center;
        height: 7vh;
        letter-spacing: 1.2vw;
        text-shadow: 0 0 10px rgb(173, 173, 173);
    }

    &__controls {
        width: 60vw;
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .controls__add-task-box {
            margin-top: 1.5vh;            
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .add-task-box {
                                
                &__input {
                    color: red;
                    width: 60%;
                    height: 3vh;
                    border: none;
                    border-radius: 2vh;
                    padding: 0.8vh 0.8vw;
                    &::placeholder {
                        color: rgb(172, 172, 172);
                    }

                    &:focus {
                        outline:2px solid rgb(180, 180, 180)
                    }
                }
                
                &__handle-add-button {
                    color: rgb(94, 94, 94);
                    width: 3vh;
                    height: 3vh;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1vw;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        // outline:0.3vw solid rgb(180, 180, 180);
                        // color: rgb(37, 209, 129);
                        color: #FFF;
                        box-shadow: 0 0 8px rgb(94, 94, 94);
                        background-color: rgb(94, 94, 94);

                    }
                }
            }
        }

        .controls__info {
            width: 100%;
            text-align: center;

            
            .info__delete-completed-button {
                // color: #FFF;
                // background-color: rgb(172, 172, 172);
                border-radius: 1vh;
                margin: 0 1vw;
                border: none;
                cursor: pointer;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                &:hover {
                    outline: 0.3vw solid rgb(136, 136, 136);
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size : 1rem;
    }
    .list {
        width: 96vw;
    }
    .list__title {
        font-size: 1.8rem;;
    }
    .controls__add-task-box {
        flex-direction: column; 
    }
    .add-task-box__input {
        width: 420px;
        font-size: 0.8rem;
        padding: 0.8vh 0.8vw;
        margin-bottom: 1vh;
    }
}