body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
}

.list {
  width: 60vw;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  border-radius: 2vw;
}

.list__title {
  color: white;
  font-family: 'Pushster', cursive;
  font-size: 3rem;
  margin: 1vh 0;
  text-align: center;
  letter-spacing: 1.2vw;
  text-shadow: 0 0 10px #adadad;
}

.list__controls {
  width: 60vw;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__controls .controls__add-task-box {
  margin-top: 1.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__controls .controls__add-task-box .add-task-box__input {
  color: red;
  width: 60%;
  border: none;
  border-radius: 2vh;
  padding: 0.8vh 0.8vw;
}

.list__controls .controls__add-task-box .add-task-box__input::-webkit-input-placeholder {
  color: #acacac;
}

.list__controls .controls__add-task-box .add-task-box__input:-ms-input-placeholder {
  color: #acacac;
}

.list__controls .controls__add-task-box .add-task-box__input::-ms-input-placeholder {
  color: #acacac;
}

.list__controls .controls__add-task-box .add-task-box__input::placeholder {
  color: #acacac;
}

.list__controls .controls__add-task-box .add-task-box__input:focus {
  outline: 2px solid #888888;
}

.list__controls .controls__add-task-box .add-task-box__handle-add-button {
  color: #FFF;
  background-color: #acacac;
  border-radius: 1vh;
  margin: 0 1vw;
  cursor: pointer;
}

.list__controls .controls__add-task-box .add-task-box__handle-add-button:hover {
  outline: 0.3vw solid #888888;
}

.list__controls .controls__info {
  width: 100%;
  text-align: center;
}

.list__controls .controls__info .info__delete-completed-button {
  color: #FFF;
  background-color: #acacac;
  border-radius: 1vh;
  margin: 0 1vw;
  cursor: pointer;
}

.list__controls .controls__info .info__delete-completed-button:hover {
  outline: 0.4vw solid #242424;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1rem;
  }
  .list {
    width: 96vw;
  }
  .list__title {
    font-size: 1.8rem;
  }
  .controls__add-task-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-task-box__input {
    width: 420px;
    font-size: 0.8rem;
    padding: 0.8vh 0.8vw;
    margin-bottom: 1vh;
  }
}
/*# sourceMappingURL=app.css.map */