.completed {
    text-decoration: line-through;
}

.task:nth-child(odd) {
    background-color: rgb(225, 233, 218);
}

.task:nth-child(even) {
    background-color: rgb(184, 189, 180);
}

.task {
    display: flex;

    justify-content: space-between;
    align-items: center;
    input{
        color: yellowgreen
    }
    input[type="checkout"] {
        background-color: red;
    }
    input[type="text"] {
        display: none;
        opacity: 0
    }

    button {
        color: #FFF;
        background-color: cadetblue;
        border-radius: 1vh;
    }

    &:nth-child(4) {
        display: none;
    }
    button:last-child {
        background-color: red;
    }
}