.task:nth-child(odd) {
    background-color: rgb(225, 233, 218);
}

.task:nth-child(even) {
    background-color: rgb(184, 189, 180);
}

.task {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding:0;

    &__checkbox {
        margin: 0 1vw;
        cursor: pointer;
        width: 10%;
    }

    &__input {
        width: 80%;
        height: 5vh;
        color: rgb(31, 31, 31);
        padding: 0 0.8vw;
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            background-color: rgb(221, 221, 221);
        }

        &--completed {
            text-decoration: line-through;
            color: #FFF;
        }
    }

    &__delete-button {
        border-radius: 1vh;
        margin: 0 1vw;
        border: none;
        width: 5vmin;
        height: 4vmin;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: rgb(145, 145, 145);

        &:hover {
            outline: 0.2 vw solid rgb(253, 84, 84);
        }
    }

    &:hover {
        .task__update-button, .task__delete-button {
            visibility: visible;
        }
    }
}

@media screen and (max-width: 640px) {
    .task__input {
        font-size : 0.8rem;
    }
    .task__update-button {
        font-size: 0.5rem;
    }
}