.task:nth-child(odd) {
    background-color: rgb(225, 233, 218);
}

.task:nth-child(even) {
    background-color: rgb(184, 189, 180);
}

.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__checkbox {
        margin: 0 1vw;
        cursor: pointer;
        width: 10%;

        &:hover {
            outline: 0.4vw solid yellow;
        }
    }

    &__input {
        width: 40%;
        height: 5vh;
        color: rgb(31, 31, 31);
        // text-shadow: 0 0 10px rgb(253, 253, 253);
        font-size: 1rem;
        outline: none;
        background-color: transparent;
        border: none;

        &:focus {
            .task {
                display: block;
            }
            background-color: pink;
        }

        &--completed {
            text-decoration: line-through;
        }
    }

    button {
        color: #FFF;
        font-size: 1rem;
        border-radius: 1vh;
        margin: 0 1vw;
        cursor: pointer;

        &:hover {
            outline: 0.4vw solid yellow;
        }
    }

    &__update-button {
        background-color: green;
        width: 10%;
    }

    &__delete-button {
        background-color: red;
        width: 10%;
    }
}